.intro{

  background: #E7DA89;

}
.experience{
  background: #FAC7AA;
}
.photos{
  background:#283339;

}
.light-text{
    color: white;

}
header{
  font-family: 'Permanent Marker', cursive;
}
.p-coloralt{
  background-color: #BD5A6E;
}
.p-coloralt2{
  background-color: #284326;
}
ul.bullets {
  list-style-type: square;
  color: white;
}

ol.letters {
  list-style-type: lower-alpha;
}
nav{
  background-color: white;
}

  
