.intro{

  background: #E7DA89;

}
.photo{

  background: #283339;
  color:white;



}
.experience{
  background: #FAC7AA;
}


header{
  font-family: 'Permanent Marker', cursive;
}
.p-coloralt{
  background-color: #BD5A6E;
}
.p-coloralt2{
  background-color: #284326;
}
ul.bullets {
  list-style-type: square;
  color: white;
}

ol.letters {
  list-style-type: lower-alpha;
}
nav{
  background-color: white;
}



/* unvisited link */
a:link {
  color: #284326;
}

/* visited link */
a:visited {
  color: #283339;
}

/* mouse over link */
a:hover {
  color: #E7DA89;
}

/* selected link */
a:active {
  color: blue;
}
